This is my first Jupyter notebook

In [ ]:
print(“My name is Cynthia Han”)